<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="ThemeMarch">
      <title>Dr. Nilim Kumar Deka</title>
      <link rel="icon" href="assets/img/favicon.jpg">
      <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <!--[if lt IE 9]> <script type="text/javascript" src="assets/vendor/backward/html5shiv.js"></script> <script type="text/javascript" src="assets/vendor/backward/respond.min.js"></script><![endif]-->
   </head>
   <body data-spy="scroll" data-target=".tm-primary-nav">
      <div id="tm-preloader">
         <div id="tm-preloader-in">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
         </div>
      </div>
      <header>
         <div class="tm-site-header">
            <div class="tm-header-info-wrap">
               <div class="container tm-header-info"> <a href="#"><i class="fa fa-phone"></i>+91-9577740038</a> <a href="#"><i class="fa fa-envelope"></i>dr.nilim@gmail.com</a> </div>
            </div>
            <div class="tm-header-menu">
               <div class="container tm-header-menu-container">
                  <div class="tm-site-branding">
                     <a href="index.html" class="tm-logo-link"> <img src="assets/img/logo.png" alt="" class="tm-logo"> </a><!-- <span class="tm-site-title"> <a href="index.html">Trustlife</a> </span> --> 
                  </div>
                  <nav class="tm-primary-nav">
                     <ul class="tm-primary-nav-list">
                        <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"> <a href="index.php" class="nav-link">HOME</a> </li>
                        <li class="menu-item"><a href="index.php#skills" class="nav-link">SKILLS</a></li>
                        <li class="menu-item"><a href="index.php#about" class="nav-link">ABOUT</a></li>
                        <li class="menu-item"><a href="index.php#appointment" class="nav-link">APPOINTMENT</a></li>
                        <li class="menu-item"><a href="blog.php" class="nav-link">BLOG</a></li>
                        <li class="menu-item"><a href="index.php#contact" class="nav-link">CONTACT</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <section class="tm-blog-hero">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h1 class="tm-blog-hero-title">Our News & Blog</h1>
                  <!-- <ul class="tm-breadcrumb"> <li><a href="index.html">Home</a></li><li>Blog Details</li></ul>--> 
               </div>
            </div>
         </div>
      </section>
      <div class="tm-blog-section tm-blog-right-sidebar">
         <div class="empty-space col-md-b100 col-xs-b70"></div>
         <div class="container">
            <div class="row">
               <main class="col-xl-12">
                  <div class="tm-site-main">
                     <article class="tm-post">
                        <header class="tm-entry-header">
                           <div class="tm-post-thumb">
                              <div class="col-lg-6">
                                 <div class="empty-space col-md-b20 col-xs-b20"></div>
                                 <div class="container" >
                                    <img src="assets/img/slide-02.jpg" alt="##" > 
                                    <div class="empty-space col-md-b20 col-xs-b20"></div>
                                 </div>
                              </div>
                              <!--<div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" width="816" height="459" src="https://www.youtube.com/embed/vGOL7ZvuGMc" allowfullscreen> </iframe> </div><!-- <div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" width="816" height="459" src="https://player.vimeo.com/video/172077385?title=0&tm-byline=0&portrait=0&color=EE5A3F&autoplay=0&loop=0&wmode=transparent" allowfullscreen></iframe> </div>--> 
                           </div>
                           <div class="tm-post-details-wrap">
                              <h2 class="tm-entry-title">Experiencing Chronic Neck Pain on Your Right Side? What Could it Be?</h2>
                              <div class="tm-byline"> <span class="author"> <a href="#" class="bar-link"><i class="fa fa-user"></i>Admin</a> </span> <span class="posted-on"><i class="fa fa-calendar"></i>September 9, 2017</span> <span><i class="fa fa-tag"></i>Medical</span> </div>
                           </div>
                        </header>
                        <div class="tm-entry-content">
                           <p><strong>You are not alone.</strong></p>
                           <p>Chronic neck pain is a common issue that millions of people just like you face every day. The spinal structure, muscles, tissues, and nerves that are present in the neck create a complex system, and when something goes awry, it can lead to a painful experience.</p>
                           <p>If you haven&rsquo;t received a diagnosis yet, you&rsquo;re probably wondering in the back of your mind,&nbsp;<em>&ldquo;What is it? Why am I experiencing this neck pain all of the time?&rdquo;</em></p>
                           <p>In this article, we are going to share with you five common reasons that people experience chronic neck pain. Due to the complex nature of the human body, this list is by no means exhaustive, but it should give you information on what could be causing your chronic neck pain.</p>
                           <p>Regardless of the reasons why you are experiencing pain, it&rsquo;s important to get it checked out by a qualified pain management doctor who can lead you through the proper protocol to get a correct diagnosis and a comprehensive treatment plan.</p>
                           <h2>5 of the top reasons patients experience chronic neck pain on their right side</h2>
                           <hr/>
                           <h3><span class="num">1</span>&nbsp;A cervical herniated disc</h3>
                           <p>A cervical herniated disc occurs when the inner core of a disc protrudes out and presses on a nerve root.&nbsp;<strong>Herniated discs are most common in adults between the ages of 30-50</strong>, but may occur in older or younger patients, as well.</p>
                           <p>While in some cases a cervical herniated disc is the result of some form of trauma (such as a car accident or sports injury), many times they manifest with seemingly no known cause of origin.</p>
                           <p>The symptoms associated with a herniated disc vary depending on exactly which disc herniated, but common signs of a cervical herniated disc include:</p>
                           <ul>
                              <li>Pain in the neck (left or right side)</li>
                              <li>Numbness, tingling, or muscle weakness in the hands and fingers</li>
                              <li>Trouble turning your neck from side to side</li>
                              <li>Pain in the shoulder area that radiates down the arm</li>
                           </ul>
                           <p>
                              Each person is different and explains their symptoms differently, as well, so your symptoms may include slight variations of those listed above.
                              <a href="https://www.nilimkumardeka.com/index.html#contact">
                                 schedule a consultation
                           </p>
                        </div>
                     </article>
                     <div class="empty-space col-md-b60 col-xs-b30"></div><div class="tm-pagination"> <a href="http://nilimkumardeka.com/blog2.html" class="tm-next-page"><i class="icofont icofont-long-arrow-left"></i></a> <div class="tm-page-number"> <a href="http://nilimkumardeka.com/blog1.html">1</a> <a href="http://nilimkumardeka.com/blog2.html">2</a> <a href="http://nilimkumardeka.com/blog3.html" class="active">3</a> <a href="http://nilimkumardeka.com/blog4.html">4</a> </div><a href="http://nilimkumardeka.com/blog4.html" class="tm-next-page"><i class="icofont icofont-long-arrow-right"></i></a> </div>
                  </div>
               </main>
            </div>
         </div>
         <div class="empty-space col-md-b100 col-xs-b70"></div>
      </div>
      <footer class="tm-overflow-hidden">
         <div class="tm-gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="tm-footer-social">
                        <h2>Follow Us</h2>
                        <div class="tm-footer-social-list">
                           <!-- <a href="#" class="tm-social-btn blue"> <i class="fa fa-facebook-square"></i> <i class="fa fa-facebook-square"></i> </a>--> <a href="#" class="tm-social-btn blue"> <i class="fa fa-google-plus-square"></i> <i class="fa fa-google-plus-square"></i> </a> <a href="https://www.youtube.com/watch?v=v6OvLiz2f4A" class="tm-social-btn blue"> <i class="fa fa-youtube-square"></i> <i class="fa fa-youtube-square"></i> </a> <a href="https://in.linkedin.com/in/dr-nilim-kumar-deka-602239136" class="tm-social-btn blue"> <i class="fa fa-linkedin-square"></i> <i class="fa fa-linkedin-square"></i> </a> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tm-site-footer">
            <div class="container">
               <div class="row row-sm-reverce">
                  <div class="col-md-7 col-lg-8">
                     <p class="tm-copyright">Copyright © 2019 dr. Nilim Kumar Deka. Designed by Webinfotech </p>
                  </div>
                  <div class="col-md-5 col-lg-4">
                     <div class="tm-footer-hotline">
                        <div class="tm-footer-hotline-in">
                           <div class="tm-phone-icon"><i class="fa fa-mobile"></i></div>
                           <h3>Office Number</h3>
                           <p>+91 0361 2232629</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div id='scrollup'></div>
      <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script><script src="assets/js/vendor/jquery-1.12.4.min.js"></script> <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgwgIuDRkO7HlxvpWN-vPePnGVWss5r5g"></script> <script src="assets/js/plugins.js"></script><script src="assets/js/main.js"></script>
   </body>
</html>