<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="ThemeMarch">
      <title>Dr. Nilim Kumar Deka</title>
      <link rel="icon" href="assets/img/favicon.jpg">
      <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
   </head>
   <body data-spy="scroll" data-target=".tm-primary-nav">
      <div id="tm-preloader">
         <div id="tm-preloader-in">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
         </div>
      </div>
      <header>
         <div class="tm-site-header">
            <div class="tm-header-info-wrap">
               <div class="container tm-header-info"> <a href="#"><i class="fa fa-phone"></i>+91-9577740038</a> <a href="#"><i class="fa fa-envelope"></i>dr.nilim@gmail.com</a> </div>
            </div>
            <div class="tm-header-menu">
               <div class="container tm-header-menu-container">
                  <div class="tm-site-branding"> <a href="index.html" class="tm-logo-link"> <img src="assets/img/logo.png" alt="" class="tm-logo"> </a> </div>
                  <nav class="tm-primary-nav">
                     <ul class="tm-primary-nav-list">
                        <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"> <a href="index.php" class="nav-link">HOME</a> </li>
                        <li class="menu-item"><a href="index.php#skills" class="nav-link">SKILLS</a></li>
                        <li class="menu-item"><a href="index.php#about" class="nav-link">ABOUT</a></li>
                        <li class="menu-item"><a href="index.php#appointment" class="nav-link">APPOINTMENT</a></li>
                        <li class="menu-item"><a href="blog.php" class="nav-link">BLOG</a></li>
                        <li class="menu-item"><a href="index.php#contact" class="nav-link">CONTACT</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <section class="tm-blog-hero">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h1 class="tm-blog-hero-title">Our News & Blog</h1>
               </div>
            </div>
         </div>
      </section>
      <div class="tm-blog-section tm-blog-right-sidebar">
         <div class="empty-space col-md-b100 col-xs-b70"></div>
         <div class="container">
            <div class="row">
               <main class="col-xl-12">
                  <div class="tm-site-main">
                     <article class="tm-post">
                        <header class="tm-entry-header">
                           <div class="tm-post-thumb">
                              <div class="col-lg-6">
                                 <div class="empty-space col-md-b20 col-xs-b20"></div>
                                 <div class="container" >
                                    <img src="assets/img/video-bg.jpg" alt="##" > 
                                    <div class="empty-space col-md-b20 col-xs-b20"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="tm-post-details-wrap">
                              <h2 class="tm-entry-title">Why Would I Need to See an Orthopaedic Doctor?</h2>
                              <div class="tm-byline"> <span class="author"> <a href="#" class="bar-link"><i class="fa fa-user"></i>Admin</a> </span> <span class="posted-on"><i class="fa fa-calendar"></i>August 10, 2018</span> <span><i class="fa fa-tag"></i>Medical</span> </div>
                           </div>
                        </header>
                        <div class="tm-entry-content">
                           <p>Do you suffer from long-term tendon, muscle, or joint pain? Do you have chronic back problems? There are more than 28 million people who develop some type of musculoskeletal problem each year. These problems include, but are not limited to, sprains, strains, and overuse injuries, as well as knee, shoulder, and back pain. </p>
                           <br><br>
                           <p>Many people believe that the only solution for these issues is medication. They may have never asked themselves the question: Do I need to see an orthopaedic doctor? </p>
                           <p>An orthopaedic doctor specializes in issues, diseases, and injuries pertaining to the musculoskeletal system. These doctors play a critical role in the diagnosis, treatment, prevention, and rehabilitation of musculoskeletal conditions. Orthopaedic doctors work in both hospitals and specialized practices to treat infections, sports injuries, broken bones, joint problems (e.g., arthritis), congenital conditions, degenerative conditions (e.g., osteoporosis), and bone tumors. They handle everything from minor issues such as a sprained ankle to complex procedures and surgeries such as a hip replacement. </p>
                           <p>If you are experiencing any type of pain in your ankles, <a href="http://www.premierortho.com/knee.php">knees</a>, <a href="http://www.premierortho.com/hip.php">hips</a>, or back, you should consider seeing an orthopaedic surgeon. Symptoms may include any of the following:</p>
                           <ul>
                              <li>Difficulty using that particular body part to perform daily functions (e.g., walking up the stairs or carrying grocery bags)</li>
                              <li>Pain in muscles, tendons, or joints that persists for more than a few days</li>
                              <li>Joint pain that becomes more intense during periods of rest</li>
                              <li>Swelling or bruising around the joint or the location of an injury</li>
                              <li>Limited range of motion, such as an inability to straighten the back</li>
                              <li>Joint deformity</li>
                              <li>Signs of infection including heat, inflammation, fever, and/or redness</li>
                              <li>Any unusual symptoms in the pain region</li>
                           </ul>
                           <p>Orthopaedic doctors use surgery as a last resort for musculoskeletal issues. They do everything that they can to delay it as long as possible in favor of less invasive treatments such as medication and physical therapy. When these treatments no longer provide relief for pain and other symptoms, they may recommend surgery. Some of the most common surgeries that orthopaedic doctors perform include back surgery, and ankle, knee, shoulder, and hip replacements. They also perform a variety of arthroscopic procedures, which allow them to visualize, diagnose, and treat problems inside of a joint.</p>
                           <p>
                              The earlier you are able to get advice about a musculoskeletal issue, the sooner you may be able to start treating the problem. Early treatment prevents an issue from becoming even more severe. During an initial consultation with an orthopaedic doctor, he or she will isolate the problem, narrow down the cause of the issue, and explain your treatment options. You may also get advice about pain management including medication and/or injections, rehabilitation and physical therapy including a potential time frame, and ongoing.
                              <a href="https://www.nilimkumardeka.com/index.html#contact">
                                 schedule a consultation.
                           </p>
                        </div>
                     </article>
                     <div class="empty-space col-md-b60 col-xs-b30"></div><div class="empty-space col-md-b60 col-xs-b30"></div><div class="tm-pagination"> <a href="http://nilimkumardeka.com/blog1.html" class="tm-next-page"><i class="icofont icofont-long-arrow-left"></i></a> <div class="tm-page-number"> <a href="http://nilimkumardeka.com/blog1.html">1</a> <a href="http://nilimkumardeka.com/blog2.html" class="active">2</a> <a href="http://nilimkumardeka.com/blog3.html">3</a> <a href="http://nilimkumardeka.com/blog4.html">4</a> </div><a href="http://nilimkumardeka.com/blog3.html" class="tm-next-page"><i class="icofont icofont-long-arrow-right"></i></a> </div>
                  </div>
               </main>
            </div>
         </div>
         <div class="empty-space col-md-b100 col-xs-b70"></div>
      </div>
      <footer class="tm-overflow-hidden">
         <div class="tm-gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="tm-footer-social">
                        <h2>Follow Us</h2>
                        <div class="tm-footer-social-list"> <a href="#" class="tm-social-btn blue"> <i class="fa fa-google-plus-square"></i> <i class="fa fa-google-plus-square"></i> </a> <a href="https://www.youtube.com/watch?v=v6OvLiz2f4A" class="tm-social-btn blue"> <i class="fa fa-youtube-square"></i> <i class="fa fa-youtube-square"></i> </a> <a href="https://in.linkedin.com/in/dr-nilim-kumar-deka-602239136" class="tm-social-btn blue"> <i class="fa fa-linkedin-square"></i> <i class="fa fa-linkedin-square"></i> </a> </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tm-site-footer">
            <div class="container">
               <div class="row row-sm-reverce">
                  <div class="col-md-7 col-lg-8">
                     <p class="tm-copyright">Copyright © 2019 dr. Nilim Kumar Deka. Designed by Webinfotech </p>
                  </div>
                  <div class="col-md-5 col-lg-4">
                     <div class="tm-footer-hotline">
                        <div class="tm-footer-hotline-in">
                           <div class="tm-phone-icon"><i class="fa fa-mobile"></i></div>
                           <h3>Office Number</h3>
                           <p>+91 0361 2232629</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div id='scrollup'></div>
      <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
      <script src="assets/js/vendor/jquery-1.12.4.min.js"></script> 
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgwgIuDRkO7HlxvpWN-vPePnGVWss5r5g"></script> 
      <script src="assets/js/plugins.js"></script>
      <script src="assets/js/main.js"></script>
   </body>
</html>