<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="ThemeMarch">
      <title>Dr. Nilim Kumar Deka</title>
      <link rel="icon" href="assets/img/favicon.jpg">
      <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    </head>
   <body data-spy="scroll" data-target=".tm-primary-nav">
      <div id="tm-preloader">
         <div id="tm-preloader-in">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
         </div>
      </div>
      <header>
         <div class="tm-site-header">
            <div class="tm-header-info-wrap">
               <div class="container tm-header-info"> <a href="#"><i class="fa fa-phone"></i>+91-9577740038</a> <a href="#"><i class="fa fa-envelope"></i>dr.nilim@gmail.com</a> </div>
            </div>
            <div class="tm-header-menu">
               <div class="container tm-header-menu-container">
                  <div class="tm-site-branding">
                     <a href="index.html" class="tm-logo-link"> <img src="assets/img/logo.png" alt="" class="tm-logo"> </a>
                  </div>
                  <nav class="tm-primary-nav">
                     <ul class="tm-primary-nav-list">
                        <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"> <a href="index.php" class="nav-link">HOME</a> </li>
                        <li class="menu-item"><a href="index.php#skills" class="nav-link">SKILLS</a></li>
                        <li class="menu-item"><a href="index.php#about" class="nav-link">ABOUT</a></li>
                        <li class="menu-item"><a href="index.php#appointment" class="nav-link">APPOINTMENT</a></li>
                        <li class="menu-item"><a href="blog.php" class="nav-link">BLOG</a></li>
                        <li class="menu-item"><a href="index.php#contact" class="nav-link">CONTACT</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <section class="tm-blog-hero">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h1 class="tm-blog-hero-title">Our News & Blog</h1>
                </div>
            </div>
         </div>
      </section>
      <div class="tm-blog-section tm-blog-right-sidebar">
         <div class="empty-space col-md-b100 col-xs-b70"></div>
         <div class="container">
            <div class="row">
               <main class="col-xl-12">
                  <div class="tm-site-main">
                     <article class="tm-post">
                        <header class="tm-entry-header">
                           <div class="tm-post-thumb">
                              <div class="col-lg-6">
                                 <div class="empty-space col-md-b20 col-xs-b20"></div>
                                 <div class="container" >
                                    <img src="assets/img/recall.jpg" alt="##" > 
                                    <div class="empty-space col-md-b20 col-xs-b20"></div>
                                 </div>
                              </div> </div>
                           <div class="tm-post-details-wrap">
                              <h2 class="tm-entry-title">Recall to life</h2>
                              <div class="tm-byline"> <span class="author"> <a href="#" class="bar-link"><i class="fa fa-user"></i>Admin</a> </span> <span class="posted-on"><i class="fa fa-calendar"></i>October 23, 2017</span> <span><i class="fa fa-tag"></i>Medical</span> </div>
                           </div>
                        </header>
                        <div class="tm-entry-content">
                           <p>I can categorize my story with an analogy to Charles Dicken&rsquo;s &ldquo;A Tale of Two Cities.&rdquo; The main theme throughout his story is, &ldquo;<strong>recalled to life.</strong>&rdquo; What Dickens meant was the characters had a new chance at life. The entire story revolves around that theme. The main character is scheduled to die and is saved by an unrelated person whom he did not really know. &nbsp;Doesn&rsquo;t that sound familiar to anyone who has had a bone marrow transplant?</p>
                           <p>At 71 years of age I was &ldquo;<strong>recalled to life</strong>&rdquo; &nbsp;and a new chapter started. I was diagnosed with Acute Myeloid Leukemia (AML) in December 2012 with a very pessimistic diagnosis. &ldquo;Why me?&rdquo; was my first thought. Some of us thought that the disease might have been the result of my being down at Ground Zero on 9-11. I &nbsp;worked there every day after it happened, breathing in those carcinogens. Some would think that this diagnosis would be the end of my story. However, not taking a defeatist attitude, my wife, Merle, and I resolved to fight this blood cancer by doing everything we could.</p>
                           <p>Well, what did that mean? We both had to agree to each treatment decision. We were in this together, through thick and thin. Initially, my first oncologist, Dr. Christina Ghiuzeli, placed me on a regimen of light chemo because of my age. I also agreed to participate in a clinical study while undergoing treatment. The chemo that I was taking did not have a long-term effect for preventing the cancer from coming back, full-blown. I was pretty much at the limit of fourteen months and Dr Ghiuzeli did not have any stats for staying on the chemo regimen for longer than that. She stated that the cancer cells get smart and the chemo would no longer be working.</p>
                           <p><strong>Decision time:</strong>&nbsp;We had two choices: either continue with the light chemo or get a bone marrow transplant. Physically, I was in great health (in remission) and also had been a runner for 35 years. If I was going to do a bone marrow transplant, now was the time. We went to three different hospitals to discuss the best treatment (Northwell, Cornell-Weill &ndash; New York Presbyterian, and Stony Brook University Hospital). The consensus was to do a bone marrow transplant.</p>
                           <p>That was a very difficult decision to make. Should we go into New York City, further out on Long Island, or stay close to home? We went to Northwell to talk to the Director of the Bone Marrow Unit, Dr. Ruthlee-Lu Bayer. We must have visited with her three or four times before we decided to proceed. Since Northwell was close to our home that was one of the deciding factors. In this way, Merle could easily visit. Dr. Bayer had great credentials, which was another deciding factor. Northwell had an excellent program. We went through an orientation with a nurse practitioner, which further reassured us that we were on the right path.</p>
                           <p><strong>My Bone Marrow Transplant Journeys:</strong></p>
                           <p>March 13, 2014, was my first &ldquo;<strong>recall to life.</strong>&rdquo; It took a while to find an unrelated donor. He was not a perfect match. The transplant was a success. The doctors and staff came to my room to celebrate my new birthday. I spent thirty days in the hospital with virtually minimal side effects. That was very surprising, after everything we were told that could happen. I was well on the way to remission for five months. Then unexpectedly my blood counts dropped substantially. Then the bone marrow transplant failed. Dr. Bayer reassured me that we could find another donor. If that failed then we could have my younger daughter, Hillary, donate her stem cells via the peripheral blood method. My first donor had had his stem cells taken from his hip.</p>
                           <p>To continue my tale, Hillary was tested successfully. She donated her stem cells through her peripheral blood. I had my second bone marrow transfer on September 23, 2014. &nbsp;I continued to be optimistic that this would succeed. I spent another thirty days in the hospital in the bone marrow transplant unit. The doctors and staff couldn&rsquo;t have been more professional or caring. This second time around I had many more complications. The support from doctors, nurses and aides helped me through the worst times. One nurse practitioner would come into my room at 3:00 a.m. to check my vitals. We would talk till morning dawned on many different subjects, which buoyed my spirits.</p>
                           <p>Advice I received prior to going through both transplants was to have a project to work on. Since I had an information technology background, I taught some doctors and nurses how to use their smart phones and some computer applications. It helped take my mind off of what I was going through. In addition, Merle came to the hospital every day, early if she was not working; otherwise late, after work. She brought me homemade dinners, a relief from hospital food. I also had many visitors.</p>
                           <p><strong>Graft vs Host Disease:</strong></p>
                           <p>My next challenge to overcome was GVHD. I was really unprepared for each of the occurrences I had. Having my wife as my caregiver was essential to helping me through this disease. I experienced loss of appetite; loss of weight (I lived on Ensure); rashes; skin flaking; Gastroesophageal reflux disease (GERD), where I thought I was having a heart attack; hiccups; hardening of skin on hands and feet, which peeled off in large pieces; running eyes; fatigue (I could sleep a whole day); night sweats; and chills. I thank God for my support group of family, friends, and hospital support staff.</p>
                           <p>GVHD is still with me. However, I am past most of it. My only issues now are related to skin conditions. I bruise very easily because my skin is thin.<br/>Support groups are great for discussing these issues and knowing that you are not alone. It helps to see how other survivors cope. The nbmtLINK conference calls were special for imparting knowledge about GVHD and talking to others with the same disease. &nbsp;I know that just being here after transplant is the most important thing. I can deal with everything else.</p>
                           <p><strong>Next Chapter:</strong>&nbsp;So, where am I now with respect to my leukemia? I am in remission! I feel great and am trying to resume a normal life. My activities include exercise by walking&ndash;using a stationary bike, golf (I never played before, but my brother pushed me to start) and I go to our senior center twice a week to play cards. I also attend two support groups; one is sponsored by Northwell Hospital, and offers only discussion opportunities with other survivors. The other is sponsored by LLS. This support group is called &ldquo;<strong>Survivors in Motion,</strong>&rdquo; in which the meeting offers a different activity each week. We start with a walk, and then we participate in other activities including, Tai Chi, art, bowling, physical therapy, and a gym workout. Additional sessions included sharing our stories and hearing various speakers.</p>
                           <p>For the last fourteen years, Dr. Bayer has sponsored a &ldquo;Celebration of Life&rdquo; sit-down dinner at a country club on Long Island. The last one we attended had four hundred survivors and spouses, donors, doctors, nurses and aides. I was televised by the news media meeting my first donor. I am still in touch with him. Dr. Bayer flies all donors in for the event, no matter where they live. Seeing all the survivors is truly uplifting.</p>
                           <p>My family participates in the &ldquo;Light the Night Walk,&rdquo; sponsored by LLS at Eisenhower Park near our home. This uplifting event is attended by thousands of people. Everyone receives a lighted lantern, white for survivors, red for caregivers and yellow for family.<br/>To motivate me, my wife and I walk for&nbsp;<strong>Charity Miles</strong>. This is an application on our iPhones, which counts our steps. The sponsors of the application donate to the charity of our choice based on miles walked (sponsors include organizations like Nike, Johnson &amp; Johnson and others. Being positive and keeping active are keys to being healthy and leading a normal life.</p>
                           <p><a href="http://www.charitymiles.org/" target="_blank" rel="noopener noreferrer">www.charitymiles.org</a></p>
                           <p>So, this next chapter is still being written. I will keep on surviving!</p>
                           <p>I would like to share an apropos quote from&nbsp;<strong>Joshua J Marine</strong>:</p>
                           <p><em>&ldquo;Challenges are what makes life interesting and overcoming them is what makes life meaningful.&rdquo;</em></p>
                           <p>
                              I am open to being contacted; feel free.<br/><strong>Lewis J. Christie</strong><br/><a href="mailto:ljcmerrick@gmail.com">ljcmerrick@gmail.com<br/></a>516.632.5146 (H)<br/>516.512.1723 (C)<br>
                              <a href="https://www.nilimkumardeka.com/index.html#contact">
                                 schedule a consultation
                           </p>
                        </div>
                     </article>
                     <div class="empty-space col-md-b60 col-xs-b30"></div><div class="tm-pagination"> <a href="http://nilimkumardeka.com/blog3.html" class="tm-next-page"><i class="icofont icofont-long-arrow-left"></i></a> <div class="tm-page-number"> <a href="http://nilimkumardeka.com/blog1.html">1</a> <a href="http://nilimkumardeka.com/blog2.html">2</a> <a href="http://nilimkumardeka.com/blog3.html">3</a> <a href="http://nilimkumardeka.com/blog4.html"class="active">4</a> </div></div>
                  </div>
               </main>
            </div>
         </div>
         <div class="empty-space col-md-b100 col-xs-b70"></div>
      </div>
      <footer class="tm-overflow-hidden">
         <div class="tm-gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="tm-footer-social">
                        <h2>Follow Us</h2>
                        <div class="tm-footer-social-list">
                            <a href="#" class="tm-social-btn blue"> <i class="fa fa-google-plus-square"></i> <i class="fa fa-google-plus-square"></i> </a> <a href="https://www.youtube.com/watch?v=v6OvLiz2f4A" class="tm-social-btn blue"> <i class="fa fa-youtube-square"></i> <i class="fa fa-youtube-square"></i> </a> <a href="https://in.linkedin.com/in/dr-nilim-kumar-deka-602239136" class="tm-social-btn blue"> <i class="fa fa-linkedin-square"></i> <i class="fa fa-linkedin-square"></i> </a> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tm-site-footer">
            <div class="container">
               <div class="row row-sm-reverce">
                  <div class="col-md-7 col-lg-8">
                     <p class="tm-copyright">Copyright © 2019 dr. Nilim Kumar Deka. Designed by Webinfotech </p>
                  </div>
                  <div class="col-md-5 col-lg-4">
                     <div class="tm-footer-hotline">
                        <div class="tm-footer-hotline-in">
                           <div class="tm-phone-icon"><i class="fa fa-mobile"></i></div>
                           <h3>Office Number</h3>
                           <p>+91 0361 2232629</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div id='scrollup'></div>
      <script src="assets/js/vendor/modernizr-3.5.0.min.js">
    </script><script src="assets/js/vendor/jquery-1.12.4.min.js"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgwgIuDRkO7HlxvpWN-vPePnGVWss5r5g">
    </script> 
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
   </body>
</html>